In [1]:
import pandas as pd

In [2]:
liar_data = pd.read_csv('liar_data.csv')
pheme_data = pd.read_csv('pheme_data.csv')
buzzfeed_data = pd.read_csv('buzzfeed_data.csv')
kaggle_data_true = pd.read_csv('Kaggle_True.csv')
kaggle_data_fake = pd.read_csv('Kaggle_Fake.csv')

In [3]:
liar_data.head()

,id,label,statement,subject,speaker,speaker_title,state,party,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context
0,2635.json,false,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,mostly-true,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,false,Health care reform legislation is likely to ma...,health-care,blog-posting,NaN,NaN,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,half-true,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,NaN,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN

In [4]:
pheme_data.head()

,id,label,text,user_mentions
0,580320995266936832,1,#BREAKING: A Germanwings Airbus A320 has crash...,AhronYoung
1,580697361799876608,1,BREAKING: Germanwings CEO: Plane victims inclu...,NaN
2,580320329203093504,1,#A320 @Germanwings flight #4U9525 (registratio...,germanwings flightradar24
3,581357303405813760,1,#Germanwings co-pilot suffered serious depress...,NaN
4,580329886532968448,1,Passenger plane carrying 148 people crashes in...,NaN

In [5]:
buzzfeed_data.head()

,id,title,text,source,type,images,movies
0,Real_1-Webpage,Another Terrorist Attack in NYC…Why Are we STI...,"On Saturday, September 17 at 8:30 pm EST, an e...",http://eaglerising.com,Real,1,0
1,Real_10-Webpage,"Donald Trump: Drugs a 'Very, Very Big Factor' ...",Less than a day after protests over the police...,http://abcn.ws,Real,1,0
2,Real_11-Webpage,"Obama To UN: ‘Giving Up Liberty, Enhances Secu...","Obama To UN: ‘Giving Up Liberty, Enhances Secu...",http://rightwingnews.com,Real,1,1
3,Real_12-Webpage,Trump vs. Clinton: A Fundamental Clash over Ho...,Getty Images Wealth Of Nations Trump vs. Clint...,http://politi.co,Real,1,0
4,Real_13-Webpage,"President Obama Vetoes 9/11 Victims Bill, Sett...",President Obama today vetoed a bill that would...,http://abcn.ws,Real,1,0

In [6]:
kaggle_data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
kaggle_data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

## Extract Text and Label

### liar_data

In [8]:
liar_data = liar_data[['label','statement']]
# transfer "half_true","mostly_true", etc to "true"
liar_data['label'] = liar_data['label'].replace(to_replace='.*true.*', value='true', regex=True)
liar_data['label'] = liar_data['label'].replace(to_replace='.*liar.*', value='false', regex=True)
liar_data['label'] = pd.get_dummies(liar_data['label'])['false']
liar_data = liar_data.rename(columns={'statement': 'text'})

liar_data['label'].value_counts()

0    10284
1     2507
Name: label, dtype: int64

In [9]:
# # Solve the dataset imbalance problem
# from imblearn.over_sampling import RandomOverSampler

# liar_y = liar_data['label']
# liar_X = liar_data.drop(columns=['label'])

# oversampler = RandomOverSampler(random_state=42)
# X_resampled, y_resampled = oversampler.fit_resample(liar_X, liar_y)

# liar_data_balanced = pd.concat([X_resampled, y_resampled], axis=1)
# liar_data_balanced
# # liar_0 = liar_data[liar_data['label'] == 0]
# # liar_1 = liar_data[liar_data['label'] == 1]

# # liar_0_sampled = liar_0.sample(n=4000)

# # liar_data_balanced = pd.concat([liar_0_sampled, liar_1])
# # liar_data_balanced

### pheme_data

In [10]:
pheme_data = pheme_data[['label','text']]
pheme_data['label'].value_counts()

0    4023
1    2402
Name: label, dtype: int64

### buzzfeed_data

In [11]:
# TODO: consider whether merge title into text

buzzfeed_data['label'] = pd.get_dummies(buzzfeed_data['type'])['Fake']
# only use title
buzzfeed_data = buzzfeed_data[['title','label']].rename(columns={'title': 'text'})

buzzfeed_data['label'].value_counts()

0    91
1    91
Name: label, dtype: int64

### kaggle_data

In [12]:
kaggle_data_true['label'] = ['True']*len(kaggle_data_true)
kaggle_data_fake['label'] = ['Fake']*len(kaggle_data_fake)

kaggle_data = pd.concat([kaggle_data_true, kaggle_data_fake], axis=0).reset_index()[['title','label']]
kaggle_data['label'] = pd.get_dummies(kaggle_data['label'])['Fake']
kaggle_data = kaggle_data.rename(columns={'title': 'text'})

In [13]:
liar_data.head()

   label                                               text
0      1  Says the Annies List political group supports ...
1      0  When did the decline of coal start? It started...
2      0  Hillary Clinton agrees with John McCain "by vo...
3      1  Health care reform legislation is likely to ma...
4      0  The economic turnaround started at the end of ...

In [14]:
pheme_data.head()

   label                                               text
0      1  #BREAKING: A Germanwings Airbus A320 has crash...
1      1  BREAKING: Germanwings CEO: Plane victims inclu...
2      1  #A320 @Germanwings flight #4U9525 (registratio...
3      1  #Germanwings co-pilot suffered serious depress...
4      1  Passenger plane carrying 148 people crashes in...

In [15]:
buzzfeed_data.head()

                                                text  label
0  Another Terrorist Attack in NYC…Why Are we STI...      0
1  Donald Trump: Drugs a 'Very, Very Big Factor' ...      0
2  Obama To UN: ‘Giving Up Liberty, Enhances Secu...      0
3  Trump vs. Clinton: A Fundamental Clash over Ho...      0
4  President Obama Vetoes 9/11 Victims Bill, Sett...      0

In [16]:
kaggle_data.head()

                                                text  label
0  As U.S. budget fight looms, Republicans flip t...      0
1  U.S. military to accept transgender recruits o...      0
2  Senior U.S. Republican senator: 'Let Mr. Muell...      0
3  FBI Russia probe helped by Australian diplomat...      0
4  Trump wants Postal Service to charge 'much mor...      0

## Concat Data

In [17]:
data = pd.concat([liar_data, pheme_data, buzzfeed_data, kaggle_data], axis=0)
data.head()

   label                                               text
0      1  Says the Annies List political group supports ...
1      0  When did the decline of coal start? It started...
2      0  Hillary Clinton agrees with John McCain "by vo...
3      1  Health care reform legislation is likely to ma...
4      0  The economic turnaround started at the end of ...

In [18]:
# save
data.to_csv('data.csv', index=False)